*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
body {
	font-family: "Comic Sans MS", cursive, sans-serif;
	background-color:#FFFFFF;
	color: #ffffff;
}
h1{
	text-align: center;
	margin-top:2%;
	color: #4A96AD;
}

.container > div{
	background-color: #F5F3EE;
	border: 3px solid #7D1935;	
	float: left;



}
h2 {
	background-color: #4A96AD;
	width: auto;
	text-align: center;
	width: 30%;
	position: relative;
	top: 0;
	left: 70%;
	border-left: 3px solid #7D1935;
	border-bottom: 3px solid #7D1935;
}
p{
	color: #7D1935;
	margin: 5px;
}

/*Desktop*/
@media  screen and (min-width: 992px) {
.container > div {
    width: 32%;
	margin-left: 1%;
	margin-top:3%;
  
  }

}

/*Tablet*/
@media  (min-width: 768px) and (max-width: 991px) {
  .first, .second {
    width: 48.5%;
    margin-left: 1%;
    margin-top:3%;
  }
  .third {
    width: 98%;
    margin-left: 1%;
    margin-top: 1%;
    
  }
}

/*Phone*/
@media  screen and (max-width: 767px) {
  .first {
    width: 98%;
    margin: 1%;
  }
  .second {
    width: 98%;
    margin: 1%;
  }
  .third {
    width: 98%;
    margin: 1%;
  }
}




